<div id="tabs">
  <div class="container clearfix">
    <ul>

  <li id="tab-sitemap" <%= style_current_if "sites" %>><a href="#">Site Map</a></li>
  <li id="tab-pages" <%= style_current_if "pages" %>><a href="#">Pages</a></li>
  <li id="tab-photos" <%= style_current_if "photos" %>><a href="#">Photos</a></li>
  <li id="tab-notes" <%= style_current_if "notes" %>><a href="#">Notes</a></li>
  <li id="tab-calendar" <%= style_current_if "calendars" %>><a href="#">Calendar</a></li>
  <li id="tab-files" <%= style_current_if "files" %>><a href="#">Files</a></li>

    </ul>
  </div>
</div>