<%% title "<%= plural_name.titleize %>" %>

Search: <input name="filter" id="filter-box" value="" maxlength="30" size="30" type="text">  
<img id="filter-clear-button" src="/images/silk/delete.png" />

<%%= render :partial => 'shared/pager' unless @<%= plural_name %>.empty? %>
<br class="clear" />
<table class="tablesorter">
	<thead>
  <tr>
  <%- for attribute in attributes -%>
    <th><%= attribute.column.human_name.titleize %></th>
  <%- end -%>
  </tr>
	</thead>
	<tbody>
  <%% for <%= singular_name %> in @<%= plural_name %> %>
    <tr>
    <%- for attribute in attributes -%>
      <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
    <%- end -%>
    <%- if action? :show -%>
      <td><%%= link_to "Show", <%= singular_name %> %></td>
    <%- end -%>
    <%- if action? :edit -%>
      <td><%%= link_to "Edit", edit_<%= singular_name %>_path(<%= singular_name %>) %></td>
    <%- end -%>
    <%- if action? :destroy -%>
      <td><%%= link_to "Destroy", <%= singular_name %>, :confirm => 'Are you sure?', :method => :delete %></td>
    <%- end -%>
    </tr>
  <%% end %>
	</tbody>
</table>

<%- if action? :new -%>
<%% content_for :subnav do %>
<li><%%= link_to "+ Add a new <%= singular_name.titleize %>", new_<%= singular_name %>_path, :class => 'button' %></li>
<%% end %>
<%- end -%>


<%% content_for :right_column do %>
	<div class="hint">
      <h3>Hint</h3>
      <p>This is a hint.</p>
    </div>
	<div class="list">
	  <h3>List Items</h3>
	  <ul>
	      <li><a href="#">link</a> <span class="date">date</span></li>
	  </ul>
	</div>
<%% end %>