<%% title "<%= singular_name.titleize %>" %>

<%- for attribute in attributes -%>
<p>
  <strong><%= attribute.column.human_name.titleize %>:</strong>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>
<%- end -%>


<%% content_for :subnav do %>
	
<%- if action? :edit -%>
  <li class="action"><%%= link_to "Edit", edit_<%= singular_name %>_path(@<%= singular_name %>) %></li>
<%- end -%>
<%- if action? :destroy -%>
  <li class="action negative"><%%= link_to "Destroy", @<%= singular_name %>, :confirm => 'Are you sure?', :method => :delete %></li>
<%- end -%>
<%- if action? :index -%>
  <li class="action"><%%= link_to "View All", <%= plural_name %>_path %></li>
<%- end -%>
<%% end %>

